<h1> <%=@article.title%> </h1>
<p> <%=@article.body%> </p>

<ul>
  <li> <%= link_to "Edit", edit_article_path(@article) %> </li>
  <li> <%= link_to "Delete", article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: 'Are you sure ?'
    } %> 
  </li>
</ul>

<h2> Comments</h2>

<% @article.comments.each do |comment| %>
  
  <div>
    <p>
      <b> <%= comment.commentor %> : </b>
      <span> <%= comment.body%> </span>
    </p>
  </div>
<% end %>




<h2>Add a comment:</h2>

<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commentor %> <br>
    <%= form.text_field :commentor %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <div>
    <%= form.submit %>
  </div>
<% end %>



<p> 
    <%= link_to 'all articles page', articles_path %>
</p>



